
/.venv
/Batch
/Html
/Javascript
/Php
/website_button_press/
/desktop_notif/
/ARP-spoofing/
/botnet/
/chatbot/
/discord-bot/
/email_slicer/
/file sorting/
/info vizsga/
/infoism_maj23/
/number guess/
/openai_text/
/py_youtube_mp3/
/shodan/
/tic tac toe/
/Tkinter app/__pycache__/
/Tkinter app/constants.py
/Tkinter app/r.py
/Tkinter app/test.py
/tomasz doga gyakorlás/
/turtle/
/web scraper/
/youtube/
/cmdtest.py 
/mymodule.py 
/test.py 
/tomaszdoga.py 
/tomaszdogafuggvenyek.py 
/tomaszdogarómai.py
/szamok.txt
kpo/
face recognition/

